<div class="container__big-card">
<div class="big-card__photo">
  <img
    src="https://researchnews.cc/imagenes/2021/01/26/Whatsinanam-2.jpg"
    alt=""
    height="300px"
    srcset=""
  >
</div>
<div class="big-card__title">
  <h1><a href="#">Supercondutor a Temperatura Ambiente: Inovação</a></h1>
</div>
<div class="big-card__description">
  <p>
    <a href="#">
      Cientistas anunciam uma incrível conquista: a supercondutividade à temperatura ambiente, abrindo portas para inovações tecnológicas impressionantes que impactarão nosso futuro.
    </a>
  </p>
</div>
</div>
